<div class="table-container">
  <h2>Role Permissions</h2>
  <table mat-table [dataSource]="rolePermissions$">
    <ng-container matColumnDef="rolename">
      <th mat-header-cell *matHeaderCellDef>Role Name</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.RoleName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="100">View</th>
      <td mat-cell *matCellDef="let element" align="center">
        <mat-checkbox [checked]='element.View' disableRipple disabled="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="100">Edit</th>
      <td mat-cell *matCellDef="let element" align="center">
        <mat-checkbox [checked]='element.Edit' disableRipple disabled="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedRoleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedRoleColumns"></tr>
  </table>
  <table>
    <tr *ngIf="(rolePermissions$ | async)?.length === 0">
      <td style="text-align: center" [attr.colspan]="displayedRoleColumns.length">
        No Records Found!
      </td>
    </tr>
  </table>
</div>

<div class="table-container">
  <h2>User Permissions</h2>
  <table mat-table [dataSource]="userPermissions$">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.UserName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="100">View</th>
      <td mat-cell *matCellDef="let element" align="center">
        <mat-checkbox [checked]='element.View' disableRipple disabled="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="100">Edit</th>
      <td mat-cell *matCellDef="let element" align="center">
        <mat-checkbox [checked]='element.Edit' disableRipple disabled="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUserColumns"></tr>
  </table>
  <table>
    <tr *ngIf="(userPermissions$ | async)?.length === 0">
      <td class="info" style="text-align: center" [attr.colspan]="displayedUserColumns.length">
        No Records Found!
      </td>
    </tr>
  </table>
</div>

<div mat-dialog-actions class="dialog-action">
<a
    class="button"
    mat-flat-button
    (click)="cancel()"
    disableRipple
  >
    Cancel
</a>
<a
    class="button"
    mat-flat-button
    (click)="!isEditDisabled && edit()"
    disableRipple
    [disabled]="isEditDisabled"
  >
    Edit
</a>
</div>
