<div class="search-bar">
  <span>Double-clicking on some values with dashed border allows you to edit them.</span>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (keydown.enter)="getPages(true)">
    <button *ngIf="showClearSearch && searchText.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
  <table
    *ngIf="!(isLoading$ | async)"
    mat-table
    [dataSource]="dataSource$"
    matSort
    (matSortChange)="sortData()"
    [matSortActive]="sortActive"
    [matSortDirection]="sortDirection"
  >
    <ng-container matColumnDef="name">
      <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <mat-icon (click)="redirectToPage(element)" class="link-icon" title="Show page">link</mat-icon>
        <span class="dblclick" (dblclick)="edit(element.Id, element.Name, 'Name')">{{ isNullOrEmpty(element.Name) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-sort-header="title" mat-header-cell *matHeaderCellDef>Title</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="edit(element.Id, element.Title, 'Title')"
      >
        <span>{{ isNullOrEmpty(element.Title) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="edit(element.Id, element.Description, 'Description')"
      >
        <span>{{ isNullOrEmpty(element.Description) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="keywords">
      <th mat-header-cell *matHeaderCellDef>Keywords</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="edit(element.Id, element.Keywords, 'Keywords')"
      >
        <span>{{ isNullOrEmpty(element.Keywords) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="edit(element.Id, element.Priority, 'Priority')"
        align="center"
      >
        <span>{{ element.Priority }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="primaryUrl">
      <th mat-header-cell *matHeaderCellDef>Primary URL</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="edit(element.Id, element.PrimaryUrl, 'PrimaryUrl')"
      >
        <span>{{ isNullOrEmpty(element.PrimaryUrl) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="permissions">
      <th mat-header-cell *matHeaderCellDef>Permissions</th>
      <td
        class="dblclick"
        mat-cell
        *matCellDef="let element"
        (dblclick)="editPermissions(element)"
        align="center"
      >
        <span> View </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef width="10%">Last Updated</th>
      <td mat-cell *matCellDef="let element">{{ isNullOrEmpty(element.LastUpdated) }}</td>
    </ng-container>

    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align="center">
        <mat-icon (click)="openPageModules(element)" title="Show Module list">view_in_ar</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="indexing">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="element.IsIndexed"
          align="center"
          title="Page index disabled"
          class="c-default"
          >zoom_in</mat-icon
        >
        <mat-icon
          *ngIf="!element.IsIndexed"
          align="center"
          title="Page indexed"
          class="c-default"
          >zoom_out</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="visibility">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="element.IsVisible"
          (dblclick)="updateVisibility(element, false)"
          title="Hide in Menu"
          >visibility</mat-icon
        >
        <mat-icon
          *ngIf="!element.IsVisible"
          (dblclick)="updateVisibility(element, true)"
          title="Show in Menu"
          >visibility_off</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="accessibility">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.HasBeenPublished" title="Page has been published" class="c-default"
          >check_circle</mat-icon
        >
        <mat-icon *ngIf="!element.HasBeenPublished" title="Page not been published" class="c-default">radio_button_unchecked</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="total$ | async"
    [pageSizeOptions]="[10, 25, 100]"
  ></mat-paginator>
</div>

<span class="error-message" *ngIf="errorMessage.length > 0">
  {{ errorMessage }}
</span>
