<mat-dialog-content>
  <table mat-table [dataSource]="pageModules$">
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.Title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ModuleType">
      <th mat-header-cell *matHeaderCellDef>Module Type</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.ModuleType }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedPageModuleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPageModuleColumns"></tr>
  </table>
</mat-dialog-content>

<div mat-dialog-actions class="dialog-action">
  <a class="button" mat-flat-button (click)="cancel()" disableRipple>
    Cancel
  </a>
</div>
